
<div>

<a href="#" id="last_event">
<img alt="Forrige" src="/static/images/back.png"><span class='title'>{{ last.title }}</span>
</a>

<a href="#" id="next_event" class="right">
<span class='title'>{{ next.title }}</span><img alt="Neste" src="/static/images/forward.png">
</a>



</div>
