<div class="events">
    
    <span class="filter right">
    	<a href="#" class="view_shifts_table"><img class='active' alt="Kolonnevisning" src="static/images/columns.png"></a>
        <a href="#" class="view_shifts_columns"><img alt="Listevisning" src="static/images/list.png"></a>
    </span>

    <h1>Arrangementoversikt</h1>

    <div class="events_wrap">

    </div>
</div>