{{!
input variables:
* <none>
}}
<div class='reveal-modal new_user small'>
    <h2>Opprett ny bruker</h2>
    <hr/>
    <p>Alle skift må tilegnes en registrert bruker. Dette kan du enkelt opprette her.
       Brukeren er klar til bruk med en gang du har opprettet den.</p>

    <div class="row">
        <div class="small-12">
            <div class="row">
                <div class="small-4 columns">
                    <label for="right-label-1" class="right inline">Brukernavn</label>
                </div>
                <div class="small-8 columns">
                    <input type="text" class="field-username" id="right-label-1" placeholder="Bruk helst UiO-brukernavn">
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="right-label-2" class="right inline">Fullt navn</label>
                </div>
                <div class="small-8 columns">
                    <input type="text" class="field-name" id="right-label-2" placeholder="Ola Normann">
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="right-label-3" class="right inline">E-postadresse</label>
                </div>
                <div class="small-8 columns">
                    <input type="text" class="field-email" id="right-label-3" placeholder="Til utvidelse av brukersystem">
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label for="right-label-4" class="right inline">Telefonnr</label>
                </div>
                <div class="small-8 columns">
                    <input type="text" class="field-phone" id="right-label-4" placeholder="For å kontakte hverandre">
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <div class="text-center">
        <a href="#" class='button small success create_user'>Opprett ny bruker</a>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>        
