<div class="events">
    <h1>Arrangementoversikt</h1>
    <p class="filter">
        <a href="#" class="view_shifts_columns">Kolonnevisning</a>
        <a href="#" class="view_shifts_table">Tabellvisning</a>
    </p>
    <div class="events_wrap">

    </div>
</div>