<h1>Velkommen til Shifty!</h1>
<p>Shifty er under utvikling og ikke enda klart for bruk.</p>
<p>CybWebDev driver aktivt med utvikling!</p>

<!--<p>hei {-{name}-}!</p>-->
<p><a href='/events'>Arrangementoversikt &raquo;</a></p>