<svg class="close-button" width="20" height="20">
    <g class="cross">
    <rect x="9" y="0" width="2" height="20" fill="white" />
    <rect x="0" y="9" width="20" height="2" fill="white" />
    </g>
</svg>
<div class="popout-content">
</div>
