<section>
    <h2>Ny barkveld</h2>
    Opprett nye skift for en barkveld.
</section>
<section id="sidebar-bar-date" style="height:270px; overflow:hidden;">
    <header class="row date-header">
        <span class="large-3">Dato</span>
        <span class="large-9 selected-date"></span>
    </header>
    <table class="datepicker">
    </table>
</section>
<section class="shifts">
</section>
<section>
    <header>
        Kommentar
    </header>
    <textarea id="event-comment"></textarea>
</section>
<section>
    <button id="save-shifts">Lagre</button>
</section>
