<h1>Your Shifts!!!!</h1>

<div class="div_shift_type_{{ shift.shift_type.id }}" ng-repeat="shift in shifts">
        <h3 style="text-transform: capitalize">{{shift.event.title}}</h3>
        <h3>{{ shift.shift_type.title }}</h3>
        <p ng-show="shift.event.description != ''"><bold>Description: </bold>{{ shift.event.description}}</p>
        <p><bold>Responsible: </bold>{{ shift.shift_type.responsible }}</p>
        <p><bold>Time(Event): </bold>{{ shift.event.start|date:"MMM dd, HH:mm" }}</p>
        <p><bold>Time(Shift-start): </bold>{{ shift.start|date:"MMM dd, HH:mm" }}</p>
        <p><bold>Time(Shift-stop): </bold>{{ shift.stop|date:"MMM dd, HH:mm" }}</p>
        <p><bold>Username: </bold>{{ shift.volunteer.username }}</p>
        <p ng-show="shift.volonteer.first_name != null"><bold>Name: </bold>{{ shift.volunteer.first_name }}</p>
        <p ng-show="shift.volonteer.last_name != null"><bold>Last name: </bold>{{ shift.volunteer.last_name }}</p>
        <p><bold>Duration:</bold> {{ shift.duration }}</p>
        <p ng-show="shift.comment != ''"><bold>Comment: </bold>{{ shift.comment }}</p>

        <button class="btn" ng-click="untake_shift(shift)">Untake</button>

</div>