<h1>Your Shifts!!!!</h1>

<div ng-repeat="event in shift_by_event" class="event_list">
    <h3 style="text-transform: capitalize">{{ event['0']['event'].title }}</h3>
    <table class="yourshifts_table">
        <tr ng-repeat="shift in event">
            <td width="15px" class="{{'shift_type_' + shift.shift_type.id}}" ng-class="{yourshift:shift.yourshift}"></td>
            <td>{{ shift['shift_type'].title }}</td>
            <td>{{ shift.start | date:"MMM dd, HH:mm" }}</td>
            <td>{{ shift.stop | date:"MMM dd, HH:mm" }}</td>
            <td ng-show="shift.comment == '' ">No comments.</td>
            <td ng-show="shift.comment != '' ">{{ shift.comment }}</td>
            <td><button class="btn" ng-click="untake_shift(shift['id'])">Untake</button></td>
        </tr>

    </table>
</div>