* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px; }

.event {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .event:last-child {
    margin-right: 0; }
  .event h2 {
    margin-bottom: 5px; }
  .event h2:first-letter {
    text-transform: capitalize; }
  .event column {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .event column:last-child {
      margin-right: 0; }
    .event column .shift {
      color: #fff;
      padding: 15px; }
      .event column .shift .title {
        font-weight: bold;
        font-size: 16px;
        padding-bottom: 10px; }
      .event column .shift .time {
        font-size: 14px; }
    .event column .comments {
      padding: 0px 10px 10px 10px;
      font-size: 14px; }
      .event column .comments .title {
        font-weight: bold;
        font-size: 22px;
        padding-bottom: 5px; }

.skjenkemester {
  background: #5bc0de;
  border: 1px solid #31b0d5; }

.barfunk {
  background: #5cb85c;
  border: 1px solid #449d44; }

.vakt {
  background: #f0ad4e;
  border: 1px solid #ec971f; }

.dj {
  background: #d9534f;
  border: 1px solid #c9302c; }

.short {
  height: 115px;
  margin-bottom: 20px; }

.long {
  height: 250px; }

.take_shift h2 {
  margin-bottom: 8px; }
.take_shift hr {
  color: #ededed;
  background-color: #ededed;
  height: 1px;
  border: 0px; }
.take_shift .date {
  background: url("../images/date.png") left center no-repeat;
  background: url("../images/date.png") left center no-repeat;
  padding: 4px 20px 4px 30px; }
.take_shift .time {
  background: url("../images/time.png") left center no-repeat;
  background: url("../images/time.png") left center no-repeat;
  padding: 4px 20px 4px 27px; }
.take_shift table {
  margin-top: 30px;
  margin-left: -10px;
  border-collapse: separate;
  border-spacing: 10px; }
  .take_shift table td {
    padding: 3px;
    color: #494949; }
  .take_shift table .shift_header {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 3px 10px; }
  .take_shift table input {
    font-size: 15px;
    padding: 5px;
    border: 1px solid #ededed; }
.take_shift .name {
  width: 120px; }
.take_shift .comment {
  width: 300px; }
