* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif; }

body {
  margin: 0px; }

h2 {
  font-weight: 100; }

.hidden {
  display: none !important; }

.nomargin {
  margin: 0 !important; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.no-click {
  pointer-events: none; }

span.text-right {
  text-align: right; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row .large-1 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .row .large-1:last-child {
      margin-right: 0; }
  .row .large-2 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .row .large-2:last-child {
      margin-right: 0; }
  .row .large-3 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .row .large-3:last-child {
      margin-right: 0; }
  .row .large-4 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .large-4:last-child {
      margin-right: 0; }
  .row .large-5 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .row .large-5:last-child {
      margin-right: 0; }
  .row .large-6 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .large-6:last-child {
      margin-right: 0; }
  .row .large-7 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .row .large-7:last-child {
      margin-right: 0; }
  .row .large-8 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .large-8:last-child {
      margin-right: 0; }
  .row .large-9 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .row .large-9:last-child {
      margin-right: 0; }
  .row .large-10 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .row .large-10:last-child {
      margin-right: 0; }
  .row .large-11 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 91.4702%; }
    .row .large-11:last-child {
      margin-right: 0; }
  .row .large-12 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .row .large-12:last-child {
      margin-right: 0; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.header {
  height: 65px;
  background-color: black;
  padding: 0px 20px; }
  .header .logo {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -6px;
    text-decoration: none; }
    .header .logo .blue {
      color: #5bc0de; }
    .header .logo .yellow {
      color: #f0ad4e; }
    .header .logo .green {
      color: #5cb85c; }
    .header .logo .red {
      color: #d9534f; }

table.datepicker {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: #999999; }
  table.datepicker th {
    font-weight: 100; }
  table.datepicker td {
    line-height: 24px;
    cursor: pointer; }
    table.datepicker td.today {
      color: #cccccc; }
    table.datepicker td:hover {
      color: white; }
  table.datepicker tr.days th {
    cursor: default;
    font-size: 11px; }
  table.datepicker .next, table.datepicker .prev {
    cursor: pointer; }
    table.datepicker .next:hover, table.datepicker .prev:hover {
      color: white; }

#admin-menu {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 60px;
  height: 180px; }
  #admin-menu svg {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 20px;
    cursor: pointer; }
  #admin-menu svg.toggle-button {
    top: 20px; }
    #admin-menu svg.toggle-button.open {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  #admin-menu .menu-items {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 60px;
    right: -60px;
    overflow: hidden;
    height: 120px;
    width: 60px; }
    #admin-menu .menu-items svg.bar-button {
      top: 20px;
      right: 20px; }
    #admin-menu .menu-items svg.coffee-button {
      top: 60px;
      right: 20px; }

.popout {
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: #121212;
  padding: 20px;
  color: #999999;
  overflow-y: auto;
  overflow-x: hidden; }
  @media screen and (max-width: 600px) {
    .popout {
      -webkit-transition: none;
      -moz-transition: none;
      transition: none; } }
  .popout.open {
    right: 0; }
    @media screen and (max-width: 600px) {
      .popout.open {
        right: 0;
        width: 100%; } }
  .popout .close-button {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
    right: 20px;
    cursor: pointer; }
  .popout h2 {
    color: white;
    margin: 0 0 0 0; }
  .popout section {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #444444;
    color: #999999;
    padding: 20px 0;
    max-width: 300px;
    margin: 0 auto; }
    .popout section header {
      color: white;
      margin-bottom: 10px; }
      .popout section header .selected-date {
        text-align: right;
        color: #999999;
        cursor: pointer; }
      .popout section header span a {
        color: #999999;
        text-decoration: none; }
      .popout section header:last-child {
        margin-bottom: 0; }
    .popout section .shift {
      background: #333333;
      padding: 5px;
      font-size: 12px;
      margin-bottom: 5px; }
      .popout section .shift .time {
        color: #666666; }
    .popout section .add-shift-box {
      margin-top: 10px;
      padding: 5px;
      background: #333333; }
      .popout section .add-shift-box input[type=text] {
        width: 100%;
        background: #121212;
        padding: 5px;
        color: #999999;
        border: 1px solid transparent;
        font-size: 12px; }
        .popout section .add-shift-box input[type=text]:focus {
          outline: none; }
        .popout section .add-shift-box input[type=text]:invalid {
          border-color: rgba(255, 0, 0, 0.5); }
        .popout section .add-shift-box input[type=text]:focus {
          border-color: #666666; }
        .popout section .add-shift-box input[type=text].count {
          display: block;
          float: left;
          margin-right: 1.87727%;
          width: 11.70637%; }
          .popout section .add-shift-box input[type=text].count:last-child {
            margin-right: 0; }
        .popout section .add-shift-box input[type=text].shifttype {
          display: block;
          float: left;
          margin-right: 1.87727%;
          width: 45.66546%; }
          .popout section .add-shift-box input[type=text].shifttype:last-child {
            margin-right: 0; }
        .popout section .add-shift-box input[type=text].start, .popout section .add-shift-box input[type=text].stop {
          display: block;
          float: left;
          margin-right: 1.87727%;
          width: 18.49818%; }
          .popout section .add-shift-box input[type=text].start:last-child, .popout section .add-shift-box input[type=text].stop:last-child {
            margin-right: 0; }
    .popout section textarea {
      width: 100%;
      height: 50px;
      border: none;
      background: #333333;
      resize: none;
      color: #999999;
      padding: 5px;
      font-size: 12px; }
      .popout section textarea:focus {
        outline: none; }
    .popout section button {
      background: #999999;
      border: none;
      padding: 6px 10px;
      font-size: 12px;
      cursor: pointer; }
      .popout section button.expand {
        width: 100%;
        padding: 6px 0; }
    .popout section:first-of-type {
      padding-top: 0px; }
    .popout section:last-of-type {
      border-bottom: none;
      padding-bottom: 0; }

/*# sourceMappingURL=style.css.map */