<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shifty</title>
        <link rel="stylesheet" href="/css/style.css">

        <script type="text/javascript">
            var shifty = {views: {}};
        </script>
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery.datepicker.js"></script>
        <script type="text/javascript" src="/js/underscore-1.5.2.min.js"></script>
        <script type="text/javascript" src="/js/backbone-1.0.0.min.js"></script>
        <script type="text/javascript" src="/js/handlebars-1.0.0.runtime.js"></script>
        <script type="text/javascript" src="/js/templates.js"></script>
        <script type="text/javascript" src="/js/view.popout.js"></script>
        <script type="text/javascript" src="/js/view.adminmenu.js"></script>
        <script type="text/javascript">
            var v;
            $(document).ready(function() {
                v = new shifty.views.Popout();
                v.render();

                a = new shifty.views.AdminMenu();
                a.render();
            });
        </script>
    </head>
    <body>
    {% block content %}
    {% endblock %}
    <div id="admin-menu">
    </div>
    </body>
</html>
