{% load includescripts %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shifty</title>
        <link rel="stylesheet" href="/static/css/shifty.css">
        
        <!-- files from Bower -->
        <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/handlebars/handlebars.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="/static/bower_components/backbone/backbone.js"></script>
        <script type="text/javascript" src="/static/bower_components/foundation/js/foundation.js"></script>
        <script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.reveal.js"></script>
        <script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.abide.js"></script>
        <script type="text/javascript" src="/static/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
        <script type="text/javascript" src="/static/bower_components/moment/moment.js"></script>

        <!-- our own files -->
        <script type="text/javascript" src="/static/js/handlebars.helpers.js"></script>

        <!-- the main app, must load before views etc -->
        <script type="text/javascript" src="/static/js/app.shifty.js"></script>

        <!-- models -->
        <script type="text/javascript" src="/static/js/models/event.js"></script>
        <script type="text/javascript" src="/static/js/models/user.js"></script>

        <!-- views -->
        <script type="text/javascript" src="/static/js/views/datepicker.js"></script>
        <script type="text/javascript" src="/static/js/views/dropdown.js"></script>
        <script type="text/javascript" src="/static/js/views/popout.js"></script>
        <script type="text/javascript" src="/static/js/views/adminmenu.js"></script>
        <script type="text/javascript" src="/static/js/views/events.js"></script>
        <script type="text/javascript" src="/static/js/views/event.js"></script>
        <script type="text/javascript" src="/static/js/views/index.js"></script>

        <script type="text/javascript">
            {% if user.is_authenticated %}
            shifty.user = jQuery.parseJSON("{{ user|escapejs }}");
            {% else %}
            shifty.user = null;
            {% endif %}
        </script>
        {% includescripts %}
    </head>
    <body>
    {% block header %}
        <div class='header'>
            <a class='logo' href='/'>
                <span class='blue'>S</span>
                <span class='yellow'>H</span>
                <span class='green'>I</span>
                <span class='red'>F</span>
                <span class='blue'>T</span>
                <span class='yellow'>Y</span>
            </a>
        </div>
    {% endblock %}
    
    <div class='container' id="content">
        {% block content %}
        {% endblock %}
    </div>

        <div id="admin-menu">
            <!-- filled by Backbone -->
        </div>
    </body>
</html>
