{% extends "shifty/base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/foundation.css">
<link rel="stylesheet" href="/static/css/shifts.css">
<script type="text/javascript" src="/static/js/foundation.min.js"></script>
<script type="text/javascript" src="/static/js/foundation.reveal.js"></script>
<script type="text/javascript" src="/static/js/events.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        var limit = 5;
        var offset = 0;
        // "/rest/event/?format=json&page=" + offset + "&page_size=" + limit
        $.ajax({url: "/getEvents/0/5", dataType: 'json'})
            .done(function(data) {
                // generate HTML with handlebars
                var html = Handlebars.templates.event({'events': data});
                $('#events').append(html);
            })
            .fail(function() {
                alert( "Error: Could not load events" );
            })

    });

</script>



    <div class='large-12'>
        <h1>Skift</h1>
    </div>


    <div id='events'>
    </div>



  <script>
    $(document).foundation();
  </script>

{% endblock %}

