{% extends "shifty/base.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {

        $.ajax({url: "/event/info/1", dataType: 'json'})
			.done(function(data) {
    			var html = Handlebars.templates.event({'event':data.event, 'columns':data.columns});
        		$('#events').html(html);
			})
			.fail(function() {
				alert( "error" );
			})
	

	});

</script>



<link rel="stylesheet" href="/static/css/shifts.css">

	<div class='large-12'>
		<h1>Skift</h1>
	</div>


	<div id='events'>
	</div>



{% endblock %}

