{% for shift_type in shift_types %}

.shift_type_{{ shift_type.id }}
{
    background: {{ shift_type.background_color }};
    border: 1px solid {{ shift_type.border_color }};
}

.shift_type_{{ shift_type.id }}.taken
{
    background: {{ shift_type.taken_color }};
}


.shift_type_{{ shift_type.id }}.yourshift
{
    background: repeating-linear-gradient(
      45deg,
      {{shift_type.yourshift_color}},
      {{shift_type.yourshift_color}} 10px,
      {{shift_type.border_color}} 10px,
      {{shift_type.border_color}} 20px
    );

    border: 1px solid blue;

    text-shadow:
        -1px -1px 0 #666,
        1px -1px 0 #666,
        -1px 1px 0 #666,
        1px 1px 0 #666;  
}
/*.div_shift_type_{{ shift_type.id }}
{
    *//*background: {{ shift_type.background_color }};*//*
    padding-left: 20px;
    *//*padding-bottom: 2px;
    padding-top: 2px;
    margin: 5px;*//*
    border-left: 5px solid {{ shift_type.border_color }};
}*/

{% endfor %}
