{% extends "shifty/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/shifts.css">

	<div class='large-12'>
		<h1>Skift</h1>
	</div>

	{% for event in events %}
	<div class='event'>
	<h2>{{ event.start|date:"l d F Y"|capfirst }} - {{ event.title }}</h2>
		{% for shift in event.getOrderedShifts %}
			{{ forloop.counter }}
			<column>
				<div class='shift {{ shift|lower }} {{ shift.getLengthType }}'>
					<div class='title'>{{ shift }}</div>
					<div class='time'>{{ shift.start|date:"H:i" }}-{{ shift.stop|date:"H:i" }}</div>
				</div>
			</column>
		{% endfor %}
		
		<column>
			<div class='comments'>
				<div class='title'>Kommentarer</div>
				{{ event.description|linebreaksbr }}
			</div>
		</column>		
	</div>
	{% endfor %}



{% endblock %}